{% load static %}
<!Doctype html> 
<html lang="es-ES">
<!-- HEAD DE LA PAGINA (CONTIENE TODA LA INFORMACION NO VISIBLE) !-->
<head>

    <title>ChiloeXplora</title>
    <meta name="keywords" content="Proyecto integrador, ULAGOS ICINF, 2024">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Inicio_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
</head>
<!--BODY DE LA PAGINA (Aqui sera nuestra area de trabajo)!-->
<body>
    <div id="Encabezado">
        <img id="Logo01"src="https://github.com/xCr1s12/ChiloeXplora/blob/main/Pagina_Principal/Fotos/imagen_2024-05-30_130035889-removebg-preview%20(1).png?raw=true" alt="Logo">
        <header id="menu-de-cabeza-1">   
            <ul>
                <li>
                    <a href="#" class="boton-menu-superior" id="Inicio">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="#" class="boton-menu-superior" id="Herramientas">
                        Herramientas
                    </a>
                </li>
                <li>
                    <a href="#" class="boton-menu-superior" id="Ayuda">
                        Ayuda
                    </a>
                </li>
    
            </ul>
            
        </header>
        <a href="#" class="Boton" id="Iniciar_Sesion">Iniciar Sesion</a>
    </div>
<hr>
<!----------------Primera-Parte------------------------------------------->
<div id="PRIMERA-PARTE-PAG-01">
    <div id="textos-img">
        <div id="Textos">
            <h1 id="Titulo"> ChiloeXplora </h1>
            <h3 id="Acerca_de">Acerca de</h3>
            <div id="Primer_texto">
                ChiloeXplora es una página dedicada a la planificación de viajes personalizados donde los usuarios que deseen viajar a Chiloé tendrán a su disposición múltiples herramientas para organizar su viaje, ordenando y apuntando sus prioridades a gusto. Teniendo a disposición atracciones turísticas y lugares de interés para los usuarios. 
            </div>   
                <a href="#" id="Buscar" class="Boton">Buscar</a> 
        </div>
    </div>
    <img id="img-circ" src="{% static 'Images/Castro.png'%}">

</div>
<!----------------Segunda-Parte------------------------------------------->
<hr class="prim-seccion">


<div id="SEGUNDA-PARTE-PAG-01">
    <div id="text_and_title">
        <H1 id="Tittle02">Herramientas</H1>
        <span id="texto_desc" class="texto_simple">En nuestra página, ofrecemos varias herramientas para mejorar tu experiencia. Las ponemos a tu disposición para que encuentres lo que necesitas rápidamente.</span>
    </div>
   <div id="items">   
        <div id="contairner_Calendario" class="Columns_Items">
            <div id="calendario">
                <a href="#" ><img src="https://github.com/xCr1s12/ChiloeXplora/blob/main/Pagina_Principal/Fotos/png-transparent-computer-icons-calendar-day-campaign-calendar-text-logo-removebg-preview%20(1).png?raw=true" alt="Icono de Calendario" class="Icono_items" id="img_Cal"></a>
            </div>
            <h3 class="titulo_simple">Calendario</h3>
            <span class="texto_simple textos_items width_de_text" id="BAck_text">Aquí puedes realizar búsquedas detalladas de las fechas de festividades y actividades en el destino al que deseas viajar, facilitando tu planificación.</span>
        </div>
        <div id="contairner_Rutas" class="Columns_Items">
            <div id="rutas">
                <a href="#" ><img src="https://github.com/xCr1s12/ChiloeXplora/blob/main/Pagina_Principal/Fotos/png-transparent-computer-icons-road-map-route-text-transport-sign-removebg-preview%20(2).png?raw=true" alt="Icono de Calendario" class="Icono_items" id="img_route"></a>
            </div>
            <h3 class="titulo_simple">Rutas</h3>
            <span class="texto_simple textos_items width_de_text" id="BAck_text">Aquí podrás previsualizar las distintas rutas disponibles, facilitándote elegir el mejor camino para llegar a tu destino.</span>
        </div>
        <div id="contairner_Notas" class="Columns_Items" >
            <div id="notas">
                <a href="#" ><img src="https://github.com/xCr1s12/ChiloeXplora/blob/main/Pagina_Principal/Fotos/bx-note%20(1).png?raw=true" alt="Icono de Calendario" class="Icono_items" id="img_route"></a> 
            </div>
            <h3 class="titulo_simple">Notas</h3>
            <span class="texto_simple textos_items width_de_text" id="BAck_text">Aquí podrás anotar fechas importantes, rutas, o ideas sobre el destino que deseas visitar o al que ya has viajado.</span>
        </div>
    </div>
</div>
<!----------------Tercera-Parte------------------------------------------->
<hr id="Segunda_seccion">
<div id="TERCERA-PARTE-PAG-01">
    <div id="text_and_title">
        <h1 class="titulo_simple"> Descubre Chiloé y sus atracciones turísticas </h1>
    </div>
    <div id="items_Lugares" class="Columns_lugares">
        <div class="rectangle-18" id="Lugar1">
            <div class="img_Proximamente"></div>
            <h3 class="titulo_simple titulo_proximamente_item">Proximamente</h3>
        </div>
        <div class="rectangle-18" id="Lugar2">
            <img src="{% static 'Images/Bahía_de_Cucao.jpg' %}" alt="Cucao" id="imagen_circ_cucao" width="100px" height="100px">
            <h3 class="titulo_simple" id="titulo_cucao" >Cucao</h3>
            <span class="texto_simple" id="texto_cucao">Cucao cautiva con su lago tranquilo y acceso al Parque Nacional Chiloé, reflejando la esencia cultural y natural de la isla. </span>
        </div>
        <div class="rectangle-18" id="Lugar3">
            <div class="img_Proximamente"></div>
            <h3 class="titulo_simple titulo_proximamente_item">Proximamente</h3>
        </div>

    </div>

</div>
<hr>
<!----------------Ultima-Parte------------------------------------------->

<footer id="pie_pagina" >
    <img src="{% static 'Images/imagen_2024-05-30_130035889-removebg-preview (1).png' %}" alt="" style="margin-top: 20px;">
    <div id="contactanos">
        <h2 class="titulo_simple ">Contáctanos</h3>
        <h4 class="texto_simple">chiloexplora@gmail.com</h4>
        <h4 class="texto_simple">@By_cicleta</h4>
        <h4 class="texto_simple">Cristobal Oñate</h4>
    </div>
    <div id="info">
        <h2 class="titulo_simple">Info</h2>
        <span class="texto_simple" id="txt-p" >Esta página web fue desarrollada por el equipo conformado por Benjamín Concha, Bryan Cárcamo, Cristóbal Oñate e Ignacio Millapani, estudiantes de la Universidad de Los Lagos.</span>
    </div>


</footer>


</body>

</html>

