{% load static%}
<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>ChiloeXplora</title>
    <meta name="keywords" content="Proyecto integrador, ULAGOS ICINF, 2024">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="actividades.css">
    <link rel="stylesheet" href="{% static 'css/actividades.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
</head>

<body>
    <div id="Encabezado">
        <img id="Logo01"src="https://github.com/xCr1s12/ChiloeXplora/blob/main/Pagina_Principal/Fotos/imagen_2024-05-30_130035889-removebg-preview%20(1).png?raw=true" alt="Logo">
        <header id="menu-de-cabeza-1">
            <ul>
                <li><a href="#" class="boton-menu-superior" id="Inicio">Inicio</a></li>
                <li><a href="#" class="boton-menu-superior" id="Herramientas">Herramientas</a></li>
                <li><a href="#" class="boton-menu-superior" id="Ayuda">Ayuda</a></li>
            </ul>
        </header>
        <a href="#" class="Boton" id="Iniciar_Sesion">Iniciar Sesión</a>
    </div>
    <hr>

    <div class="contenedor">
        
        <div class="boton_y_texto">
            <div class="titulito">
                <h1>Kayak Lago Cucao</h1>
                <h2>Organizado por: <a href="/ChiloeXplora/alojamiento/alojamiento.html" id="parador">Parador Darwin</a></h2>
            </div>
            <p id="descripcion">
                ¡Sumérgete en una aventura inolvidable remando en las tranquilas aguas del Lago Huillinco! <br> <br>
                Esta actividad te permitirá explorar uno de los paisajes más pintorescos de Chiloé, rodeado de exuberante vegetación y la serenidad de la naturaleza. <br>
El lago Huillinco, con su impresionante belleza, es el escenario perfecto para una experiencia en kayak. <br> Navega a través de sus apacibles aguas, descubre rincones escondidos y disfruta de la paz y tranquilidad que solo este lugar puede ofrecer.    
            </p>
            
        </div>
        <img src="/ChiloeXplora/Actividades/images/kayak_cucao.jpg" alt="foto de Parador Darwin" id="imagen_parador">
    </div>

    <div class="pie_de_pagina">
        <hr class="hrr">
        <footer id="pie_pagina">
            <img src="/ChiloeXplora/Notas Cucao/assets/logo.png" alt="" style="margin-top: 20px;">
            <div id="contactanos">
                <h2 class="titulo_simple">Contáctanos</h2>
                <h4 class="texto_simple">chiloexplora@gmail.com</h4>
                <h4 class="texto_simple">@By_cicleta</h4>
                <h4 class="texto_simple">Cristobal Oñate</h4>
            </div>
            <div id="info">
                <h2 class="titulo_simple">Info</h2>
                <span class="texto_simple" id="txt-p">Esta página web fue desarrollada por el equipo conformado por Benjamín Concha, 
                    Bryan Cárcamo, Cristóbal Oñate e Ignacio Millapani, estudiantes de la Universidad de Los Lagos.</span>
            </div>
        </footer>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
    <script src="/ChiloeXplora/Actividades/atividades.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    
</body>
</html>