html,body{
    background-color: #121629 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Spinnaker",sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
 }

ul {
    list-style: none;
    padding:0;
    margin:0;
    margin-top: 10px;
}
ul li {
    display: inline;
}
.boton-menu-superior {  
    align-items: flex-start;
    margin-left:150px ;
    position: relative;
    padding: 10px 15px;
    color: #fff;
    letter-spacing: 2px;
    font-size: medium;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.boton-menu-superior:hover {
    background:#F9BC60;
    box-shadow: 0 0 10px #F9BC60, 0 0 40px #F9BC60, 0 0 70px #F9BC60;
    transition-delay: 0.2ms;


}
hr {
    width: 100%;
    height: 0.75px;
    background: #A7A9BE;
    border: none;
    margin-top: 10px;
}

#Titulo{
    font-family:"Spinnaker",sans-serif;
    color:#F9BC60;
    align-self: flex-start;


}
#Acerca_de{
    width: 108px;
    height: 30px;
    color: #FFFFFE;
    font-family: "Spinnaker";
    font-size: 23px;
    text-align: left;    
}
.textos-pag1{
    width: 90%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Primer_texto{
    text-align: center;
    width: 400px;
	height: 135px;
	padding: 8px 8px 8px 8px;
	background: #EBEBEB40;
	color: #FFFFFF;
	border-radius: 15px 15px 15px 15px;
	font-family: "Spinnaker";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
}
#img-circ {
    width: 800px;
    height: 430px;
    margin-left: 70px;
}
