html,body{
    background-color: #121629 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Spinnaker",sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
 }
<<<<<<< HEAD
.Encabezado {
    width: 90%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#Iniciar_Sesion{
    border-radius: 5px;
    background-color: #F9BC60;

}
=======
>>>>>>> 88bfc05a108712c9f1f28152360a4e82af82cc1f

ul {
    list-style: none;
    padding:0;
    margin:0;
    margin-top: 10px;
<<<<<<< HEAD
    margin-left: 90px;
=======
>>>>>>> 88bfc05a108712c9f1f28152360a4e82af82cc1f
}
ul li {
    margin-left: 15px;
    display: inline;
}
.boton-menu-superior {  
    align-items: flex-start;
    margin-left:150px ;
    position: relative;
    padding: 10px 15px;
    color: #fff;
    letter-spacing: 2px;
    font-size: medium;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.boton-menu-superior:hover {
    background:#F9BC60;
    box-shadow: 0 0 10px #F9BC60, 0 0 40px #F9BC60, 0 0 70px #F9BC60;
    transition-delay: 0.2ms;


}
hr {
    width: 100%;
    height: 0.75px;
    background: silver;
    border: none;
    margin-top: 15px;
}

#Titulo{
    height: 48px;
    width: 218px;
    font-size: 34px;
    font-family:"Spinnaker",sans-serif;
    color:#F9BC60;
    align-self: flex-start;
<<<<<<< HEAD
    margin-left: 50px;
    margin-bottom: 6px;
=======

>>>>>>> 88bfc05a108712c9f1f28152360a4e82af82cc1f

}
#Acerca_de{
    margin-top: 6px;
    width: 108px;
    height: 30px;
    color: #FFFFFE;
    font-family: "Spinnaker";
    font-size: 23px;
    text-align: center;
    margin-left: 100px;    
}
<<<<<<< HEAD
.Titulos-AT {
    align-items: center;
    margin-left: 30px;

}
.textos-img{
    width: 2%;
    margin-left: 5%;
=======
.textos-pag1{
    width: 90%;
    margin-left: 10%;
>>>>>>> 88bfc05a108712c9f1f28152360a4e82af82cc1f
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Primer_texto{
    text-align: center;
    width: 400px;
	height: 135px;
	padding: 8px 8px 8px 8px;
	background: #EBEBEB40;
	color: #FFFFFF;
	border-radius: 15px 15px 15px 15px;
	font-family: "Spinnaker";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
<<<<<<< HEAD
=======
}
#img-circ {
    width: 800px;
    height: 430px;
    margin-left: 70px;
>>>>>>> 88bfc05a108712c9f1f28152360a4e82af82cc1f
}
#img-circ {
    width: 940px;
    height: 600px;
    
    margin-top: 70px;
}