{% load static %}
<!DOCTYPE html> 
<html lang="es-ES">
<head>
    <title>ChiloeXplora</title>
    <meta name="keywords" content="Proyecto integrador, ULAGOS ICINF, 2024">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/cuca.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
</head> 
<body>
    <div id="Encabezado">
        <img id="Logo01"src="https://github.com/xCr1s12/ChiloeXplora/blob/main/Pagina_Principal/Fotos/imagen_2024-05-30_130035889-removebg-preview%20(1).png?raw=true" alt="Logo">
        <header id="menu-de-cabeza-1">   
            <ul>
                <li><a href="#" class="boton-menu-superior" id="Inicio">Inicio</a></li>
                <li><a href="#SEGUNDA-PARTE-PAG-01" class="boton-menu-superior" id="Herramientas">Herramientas</a></li>
                <li><a href="#" class="boton-menu-superior" id="Ayuda">Ayuda</a></li>
            </ul>
        </header>
        <div id="botones">
            {% if request.user.is_authenticated %}
            <div class="user-info">
                {{ request.user.username }}
                <a href="{% url 'logout' %}" class="Boton" id="cerrar_sesion">Cerrar sesión</a>
            </div>
            {% else %}
            <a href="{% url 'login'%}" class="Boton" id="Iniciar_Sesion">Iniciar Sesión</a>
            {% endif %}
        </div>
    </div>
    <hr>    
    
    <div class="img_text">
        <img src="{% static 'images/cucao_iglesia.png' %}" alt="foto muelle" class="imagen_iglesia"> 
        <div class="boton_y_texto">
            <div class="titulito">   
                <hr class="hr_chico">
                <h3 class="texto_cucao">Cucao</h3>
                <hr class="hr_chico">
            </div>
            <div id="desc">
                <span id="descripcion">
                    Cucao, una pintoresca aldea ubicada en la isla de Chiloé.
                    Es un destino turístico que cautiva con su belleza natural,
                    con una ubicación privilegiada en el borde del Parque Nacional Chiloé
                    y a orillas del majestuoso Lago Cucao.
                    Este destino encantador ofrece una variedad de atracciones para los visitantes.
                </span>
                <a href="/Lugares_Recomendados/" type="button" id="boton_lr">Lugares Recomendados</a>
            </div>
        </div>
    </div>
    <hr>
    
    <div class="mapa">
        <div id="titulo"><h1>Rutas</h1></div>
        <div id="funcion_mapa">
            <div id="contenedor_vertical">
                <ul>
                    <li><button class="btn" data-start="-42.4806, -73.7635" data-end="-42.6378, -74.1091">Ruta | Castro - Cucao</button></li>
                    <li><button class="btn" data-start="-41.8698, -73.8203" data-end="-42.6378, -74.1091">Ruta | Ancud - Cucao</button></li>
                    <li><button class="btn" data-start="-41.83148, -73.51242" data-end="-42.6378, -74.1091">Ruta | Canal de Chacao - Cucao</button></li>
                </ul>
            </div>
            <div id="mapa_copiar">
                <div id='map'></div>
                <div>
                    <button id="copiarRuta"> Ruta en "Google Maps"</button>
                </div>
                <!-- Mensaje para cerrar la "mini ventana"-->
                <div id="mensaje_advertencia">
                    Cierre la "mini-ventana" de la ruta para ver el mapa correctamente.
                </div>
            </div>
        </div>
    </div>

    <hr>
    <footer id="pie_pagina">
        <img src="{% static 'Images/imagen_2024-05-30_130035889-removebg-preview (1).png' %}" id="patata" style="margin-top: 20px;">
        <div id="contactanos">
            <h2 class="titulo_simple">Contáctanos</h2>
            <h4 class="texto_simple">chiloexplora@gmail.com</h4>
            <h4 class="texto_simple">@By_cicleta</h4>
            <h4 class="texto_simple">Cristobal Oñate</h4>
        </div>
        <div id="info">
            <h2 class="titulo_simple">Info</h2>
            <span class="texto_simple" id="txt-p">Esta página web fue desarrollada por el equipo conformado por Benjamín Concha, Bryan Cárcamo, Cristóbal Oñate e Ignacio Millapani, estudiantes de la Universidad de Los Lagos.</span>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="{% static 'Js/notas_cuca.js' %}"></script>
</body>
</html>
